/* src/pages/HomePage.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-top: 200px;
}

.container {
  max-width: 400px; /* Genişliği küçülttük */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #0056b3;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

select,
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

select:disabled {
  background-color: #e9ecef;
}

.btn-submit {
  background-color: #0056b3;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
}

.btn-submit:hover {
  background-color: #004494;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
    margin: 20px auto;
  }

  .btn-submit {
    padding: 8px 15px;
  }

  label,
  select,
  input {
    font-size: 0.9em;
  }
}
